<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net462" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net462" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Microsoft.TeamFoundationServer.Client" version="14.83.0" targetFramework="net462" />
  <package id="Microsoft.TeamFoundationServer.ExtendedClient" version="14.83.0" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Services.Client" version="14.83.0" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="14.83.0" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net462" />
  <package id="NuGet.Client" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Common" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.ContentModel" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Frameworks" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Packaging" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Packaging.Core" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Packaging.Core.Types" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Repositories" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.RuntimeModel" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Versioning" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.VisualStudio" version="4.6.0" targetFramework="net452" requireReinstallation="True" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" requireReinstallation="True" />
  <package id="WindowsAzure.ServiceBus" version="2.5.1.0" targetFramework="net462" />
</packages>